.popup__input-error {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: rgba(255, 0, 0, 1);
  min-height: 30px;
  margin: auto 0;
  padding-top: 5px;
  max-width: 362px;
  visibility: hidden;
  border-top: 1px solid red;
  word-wrap: break-word;
  overflow: auto;
}

@media (max-width: 540px) {
  .popup__input-error {
    width: 242px;
  }
}
