.profile {
    max-width: calc(100% - 31.25%);
    display: flex;
    align-items: center;
    margin: 40px auto 0;
}


@media screen and (max-width: 930px) {
    .profile {
        max-width: calc(100% - 11.88%);
        flex-direction: column;
        margin-top: 42px;
    }
}