.element__group-button {
  cursor: pointer;
  background-image: url(../../../images/Group.svg);
  width: 22px;
  height: 19px;
  background-color: #fff;
  border: 0;
  margin: 30px 20px 0 0;
  transition: 0.5s ease;
}

.element__group-button:hover {
  opacity: 0.5;
}
