.profile__line-button {
  cursor: pointer;
  background-image: url(../../../images/Edit\ Button.svg);
  min-width: 24px;
  min-height: 24px;
  background-color: #000;
  border: 0;
  align-self: center;
  margin-left: 18px;
  transition: 0.5s ease;
}

@media (max-width: 710px) {
  .profile__line-button {
    margin-left: 10px;
    background-image: url(../../../images/Edit\ ButtonSmall.svg);
    min-width: 18px;
    min-height: 18px;
  }
}

.profile__line-button:hover {
  opacity: 0.6;
}
