.footer__info {
  margin: 0;
  color: #545454;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media (max-width: 540px) {
  .footer__info {
    font-size: 14px;
    line-height: 17px;
  }
}
