.footer {
    max-width: 880px;
    margin: 0 auto 60px;
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: calc(100% - 30.22%);
    }
}

@media screen and (max-width: 832px) {
    .footer {
        max-width: 282px;
        margin-bottom: 33px;
    }
}