.popup__container {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 430px;
    height: 330px;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
}



@media screen and (max-width: 530px) {
    .popup__container {
        max-width: 282px;
        max-height: 322px;
        margin: auto;
    }
}