.popup__name {
  margin: 0 auto;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 358px;
  height: 27px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.popup__name:last-child {
  margin-bottom: 0px;
}

.popup__name:focus {
  border-radius: 10px;
}

@media (max-width: 540px) {
  .popup__name {
    width: 238px;
  }
}
